@charset "URF-8";

body {
    margin: 0;
    padding: 0;
}

header li {
    list-style: none;
}

header {
    height: 80px;
    width: 1440px;
    background-color: rgba(255, 215, 0, 1);
    position: fixed;
    z-index: 10;
}

header a {
    text-decoration: none;
    color: white;
}

.header-menu:hover {
    text-decoration: underline;
    color: #b4532a;;
    transition: 0.5s;
}

.headerContainer {
    padding: 15px 30px 15px 30px;
    
}

.headerContainer h1 {
    float: left;
    margin: 0;
    color: black;
}

.headerContainer ul {
    float: right;
    
}

.headerContainer li {
    float: left;
    padding-right: 30px;
    color: white;
}



.top img {
    width: 100%;
    height: auto;
} 

.newslogo {
    position: relative;
}

.newslogo h2{
    position: absolute;
    bottom: 100px;
    left: 156px;
    margin: 0;
    background-color: #b4532a;
    text-align: center;
    height: 60px;
    width: 250px;
    color: white;
    padding-top: 20px;
}

.how-to-manager {
    background-color: rgba(255, 215, 0, 1);
    width: 90%;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.how-to-manager h2 {
    margin:30px 0;
    padding: 0;
    font-size: 24px;
}

.how-to-manager p {
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.manager-box-right {
    width: 80%;
    margin-left: auto;
    position: relative;
    margin-bottom: 100px;
}

.manager-box-left {
    width: 80%;
    margin-right: auto;
    position: relative;
    margin-bottom: 100px;
}

.manager-right {
    background-color: rgba(255, 251, 229, 1);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
    
}

.manager-left {
    background-color: rgba(255, 215, 0, 1);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}

.manager-profile-right {
    width: 40%;
    height: auto;
    position: absolute;
    top: 80%;
    right: 0;
    background-color: #ffd700;
}

.manager-profile-left {
    width: 40%;
    height: auto;
    position: absolute;
    top: 80%;
    left: 0;
    background-color: #fffbe5;
}

.profile_title {
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 5%;
    padding: 0;
}

.text {
    margin-left: 5%;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    padding-bottom: 10px;
}

.sp_use_manager {
    width: 90%;
    background-color: #fffbe5;
    
    
    margin: 0 auto;
}

.sp_use_manager h2 {
    text-align: center;
}

.sp_manager_right_box {
    width: 90%;
    margin-left: auto;
    background-color: #ffd700;
}

.sp_manager_left_box {
    width: 90%;
    margin-right: auto;
    background-color: #fffbe5;
}

.sp_porfile_block_right {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.sp_porfile_block_left {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.sp_profile_box_right {
    background-color: #fffbe5;
}

.sp_profile_box_left {
    background-color: #ffd700;
}

.pc_none h6 {
    text-decoration: underline;
}

.pc_none h5,h6 {
    margin: 0 0 0 10px;
    padding-top: 15px;
    
}

.pc_none h2 {
    text-align: center;
}