@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.header-menu:hover {
    text-decoration: underline;
    color: #b4532a;;
    transition: 0.5s;
}


header {
    height: 80px;
    width: 1440px;
    background-color: rgba(255, 215, 0, 1);
    position: fixed;
    z-index: 10;
}

header a {
    text-decoration: none;
    color: white;
}

.headerContainer {
    padding: 15px 30px 15px 30px;
    
}

.headerContainer h1 {
    float: left;
    margin: 0;
    color: black;
}

.headerContainer ul {
    float: right;
    
}

.headerContainer li {
    float: left;
    padding-right: 30px;
    color: white;
}

.top img {
    width: 100%;
    height: auto;
} 

.newslogo {
    position: relative;
}

.newslogo h2{
    position: absolute;
    bottom: 20px;
    left: 156px;
    margin: 0;
    background-color: rgba(180, 83, 42, 1);
    text-align: center;
    height: 60px;
    width: 250px;
    color: white;
    padding-top: 20px;
}

.main span {
    color: #b4532a;
}


@media screen and (min-width:800px) {
    .main h1 {
        font-size: 37.5px;
        margin: 0 auto;
        padding: 50px;
        text-align: center;
    }
    .main h2 {
        font-size: 30px;

    }
    .main {
        width: 690px;
        margin: 0 auto;
    }
    
    
}

@media screen and (max-width:800px) {
    .main h1 {
        font-size: 28px;
        margin: 0;
        padding: 20px;
        text-align: center;
    }
    .main h2 {
        font-size: 24px;

    }

    .main p {
        font-size: 12px;
    }
    .main {
        margin: 0 20px;
    }
    

}

