@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.no-change-color {
    color: black;
}

.header-menu:hover {
    text-decoration: underline;
    color: #b4532a;;
    transition: 0.5s;
}


header {
    height: 80px;
    width: 100%;
    max-width: 1440px;
    background-color: #ffd700;
    position: fixed;
    z-index: 10;
}

header a {
    text-decoration: none;
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
}

.headerContainer {
    padding: 15px 30px 15px 30px;
    
}

.headerContainer h1 {
    float: left;
    margin: 0;
    color: black;
}

.headerContainer ul {
    float: right;
    
}

.headerContainer li {
    float: left;
    padding-right: 30px;
    color: white;
}

.top img {
    width: 100%;
    height: auto;
} 

.newslogo {
    position: relative;
}

.newslogo h2{
    position: absolute;
    bottom: 20px;
    left: 156px;
    margin: 0;
    background-color: rgba(180, 83, 42, 1);
    text-align: center;
    height: 60px;
    width: 250px;
    color: white;
    padding-top: 20px;
}

.main span {
    color: #b4532a;
}


.news_contents {
    display: flex;
    padding: 20px;
    border-top: 2px solid #b4532a;
}

.news-img img {
    width: 250px;
    height: 200px;
    object-fit: cover;
}
.news-explain {
    display: flex;
}

.news-explain h5{
    margin: 0 40px;
    text-align: center;
    
}

.news-explain p{
    margin: 0 40px;
    text-align: center;
    
}


.news-explain h5 {
    padding-right: 20px;
    padding-left: 20px;
    background-color: #ffd700;
}



.news_title h3 {
    margin: 0;
    text-align: center;
}



@media screen and (min-width:800px) {
    /*ニュース一覧の設定*/
    .news_container {
        width: 1200px;
        display: -webkit-flex;
        display: flex;
        margin: 100px auto;
        justify-content: space-between;
      }
      .news_list {
        display: block;
        width: 800px;
        margin-right: 20px;
        color: black;
      }
      .sidebar {
        width: 320px;
      }
      .sidebar__item {
        margin-bottom: 20px;
      }
      .sidebar__item--fixed {
        position: sticky;
        margin-bottom: 0;
        top: 10px;
        z-index: 1;
      }

      .news-explain {
        flex-direction: row;
        margin: 40px;
      }
      .news_title {
        margin: 40px;
    }

      .news_title h3 {
        font-size: 40px;
      }

    /*ニュース一覧の設定*/

    .main h1 {
        font-size: 37.5px;
        margin: 0 auto;
        padding: 50px;
        text-align: center;
    }
    .main h2 {
        font-size: 30px;

    }
    .main {
        width: 690px;
        margin: 0 auto;
    }
    
    
}

@media screen and (max-width:800px) {
    .news-explain {
        flex-direction: column;
    }

    .news_contents {
        flex-direction: column;
        align-items: center;
    }

    .news_list {
        margin-top: 100px;
        color: black;
    }

    .news_title {
        margin: 20px auto;
        
    }
    

    .main h1 {
        font-size: 28px;
        margin: 0;
        padding: 20px;
        text-align: center;
    }
    .main h2 {
        font-size: 24px;

    }

    .main p {
        font-size: 12px;
    }
    .main {
        margin: 0 20px;
    }
    

}

